/*For bigger screen then normal 1500px desktop*/

@media (min-width: 1280px) and (max-width: 1700px) {
  .hero-sec-home2 .section-overlay .hero-img {
    width: 54%;
    right: 0;
  }
  .attorney-slider {
    margin-top: 33px;
  }
  .attorney-slider .single-attorney {
    margin-bottom: 24px;
  }
}

/*For bigger screen then normal 960px desktop*/
@media only screen and (max-width: 1280px) {
  .hero-content .hero-title {
    font-size: 74px;
    line-height: 86px;
  }
  .hero-content .hero-site-info {
    width: 90%;
  }
  .hero-sec-home2 .hero-content .hero-site-info {
    width: 100%;
  }
  ul.hero-site-info li.hero-single-site-info h3 {
    font-size: 36px;
    line-height: 44px;
  }
  .history-tab-details .history-tab-content {
    padding: 80px 80px 80px 50px;
  }
  .history-tab-details .history-tab-content a {
    margin-top: 36px;
  }
}
@media only screen and (max-width: 1200px) {
  .about-section .sec-content {
    margin-top: 170px;
  }
  .location-map {
    margin-right: 0;
  }
  .contact-section .contact-form-with-map {
    margin-top: 70px;
  }
}
/*For Tablet Layout*/
@media (max-width: 991px) {
  .pb-100 {
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .ptb-140 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .pb-140 {
    padding-bottom: 100px;
  }
  .pt-140 {
    padding-top: 100px;
  }
  .pt-240 {
    padding-top: 200px;
  }
  .sec-content {
    text-align: center;
  }
  .sec-title {
    font-size: 48px;
    line-height: 58px;
  }
  .hero-content {
    text-align: center;
    margin: 0 0 64px;
  }
  .hero-content .hero-title {
    font-size: 70px;
    line-height: 80px;
  }
  .hero-content .hero-site-info {
    width: 100%;
    justify-content: center;
  }
  .hero-img img {
    width: 100%;
  }
  .attorney-feature-info .hero-single-feature {
    margin-bottom: 24px;
  }
  .about-section {
    padding-bottom: 100px;
  }
  .about-section .sec-content {
    margin-top: 140px;
  }
  .history-tab-details .history-tab-content {
    padding: 70px;
  }
  .history-tab-details .history-tab-content a {
    margin-top: 30px;
  }
  .history-tab-details .history-tab-content h3 {
    font-size: 40px;
  }
  .history-call {
    padding-top: 220px;
  }
  .single-attorney {
    margin-bottom: 40px;
  }

  .testimonial-slider .owl-dots {
    margin-top: 0px;
  }
  .contact-section .sec-content h3.sec-title {
    margin-top: 0;
  }
  .contact-section .sec-content ul.law-contact {
    margin-top: 16px;
  }
  .contact-section .law-cform {
    margin-top: 64px;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-copyright .footer-copyright-links {
    float: inherit;
    margin-top: 12px;
  }
  /* home page 2 */
  .hero-sec-home2 .section-overlay .hero-img {
    position: inherit;
    width: 100%;
  }
  .success-sec .sccess-info h4 {
    font-size: 34px;
    line-height: 44px;
  }
  .single-case-info {
    margin-bottom: 40px;
    text-align: center;
  }
  .single-plan {
    text-align: center;
  }
  .attorney-slider {
    -webkit-transform: inherit;
    transform: inherit;
    margin-top: 0;
  }
  .attorney-slider .single-attorney {
    margin-bottom: 0;
  }
  .contact-section .contact-form-with-map form.law-cform {
    margin-top: 0;
  }
  .contact-section .contact-form-with-map {
    margin-top: 50px;
  }
  /* inner page */
  .page-title-area .page-title-wrappper {
    margin: 200px 0 100px;
  }
  .page-title-wrappper h2.page-title {
    font-size: 70px;
    line-height: 78px;
  }
}

/*For Wide Mobile Layout*/
@media (max-width: 767px) {
  .pb-100 {
    padding-bottom: 40px;
  }
  .pt-100 {
    padding-top: 40px;
  }

  .ptb-140 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pb-140 {
    padding-bottom: 80px;
  }
  .pt-140 {
    padding-top: 80px;
  }
  .pt-240 {
    padding-top: 180px;
  }
  #header-sticky {
    padding: 0 16px;
  }
  .sec-title {
    font-size: 36px;
    line-height: 46px;
  }
  .hero-content {
    margin: 0 0 44px;
  }
  .hero-content .hero-title {
    font-size: 48px;
    line-height: 56px;
    margin: 16px 0 20px;
  }
  .hero-content a {
    margin: 16px 0 44px 0px;
  }
  .hero-content .hero-site-info {
    width: 100%;
  }
  ul.hero-site-info li.hero-single-site-info h3 {
    font-size: 32px;
    line-height: 44px;
  }
  ul.hero-site-info li.site-info1 {
    padding-right: 36px;
  }
  ul.hero-site-info li.site-info2 {
    padding-left: 36px;
  }
  .about-section .sec-content {
    margin-top: 100px;
  }
  .history-tab-details .history-tab-content {
    padding: 50px;
  }
  .history-tab-details .history-tab-content a {
    margin-top: 16px;
  }
  .ingle-case-content {
    text-align: center;
  }
  .history-tab-details .history-tab-content h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .single-testimonial {
    text-align: center;
  }
  .form-style-2 {
    padding: 28px;
  }
  form.law-cform .contact-field input,
  form.law-cform .contact-field textarea {
    padding: 10px 24px;
  }

  /* Subscribe button css */
  .site-sub form {
    position: relative;
  }
  .site-sub form input {
    width: 100%;
    border-radius: 30px;
    padding: 14px 50px;
  }
  .site-sub form i {
    left: 20px;
  }
  .site-sub form button {
    position: absolute;
    width: inherit;
    padding: 14px 20px;
    right: -1px;
    border-radius: 0 30px 30px 0;
  }
  .case-slider .owl-nav {
    display: none;
  }
  /* home page 2 */

  /* inner page */
  .page-title-area .page-title-wrappper {
    margin: 180px 0 80px;
  }
  .page-title-wrappper h2.page-title {
    font-size: 50px;
    line-height: 58px;
  }
}

/*For 320-384px up Mobile Layout*/

@media (max-width: 479px) {
  /* .hero-sec-home2 .hero-content .hero-site-info {
    display: inherit;
  } */
  .hero-sec-home2
    .hero-content
    .hero-site-info
    .hero-single-site-info
    .site-rating-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .history-tab-details .history-tab-content {
    padding: 40px;
  }
  .history-tab-details .history-tab-content a {
    margin-top: 14px;
  }
  .achivement-logos img {
    margin-right: 8px;
  }
  .footer-copyright .footer-copyright-links {
    margin-top: 8px;
  }
  .footer-copyright-links a {
    margin-right: 12px;
    font-size: 14px;
  }
}
